.poster {
  text-align: center;
}

.title {
  font-size: 1.2em;
}

.poster-image {
  width: 100%;
  opacity: 0.6;
}

.poster-image:hover {
  cursor: pointer;
  opacity: 1;
}

.rating {
  font-size: 0.9em;
  display: flex;
  justify-content: center;
}
