.movie-detail-view {
    border: solid black 1px;
}

.macro-container {
   font-family: "Roboto", sans-serif;
   border: solid black 1px;
   display: flex;
}

.movie-info {
    display: flex;
    flex-direction: column;
    padding-left: 1em;
    padding-right: 1em;
    text-align: left;
    border: solid black 1px;
}

.back-button {
    display: flex;
    justify-content: flex-end;
    align-self: flex-end;
}

.movie-facts {
    padding-left: 1em;
    background-color: #E8E6D9
}

button {
    margin: 1em;
    border-color: transparent;
}

h3 {
    font-size: 2rem;
    margin-bottom: 0.5em;
}

.tagline {
    margin-top: 0.5em;
    align-self: center;
    font-size: 1rem;
    font-style: italic;
}
