.App {
  text-align: center;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #C4BDAC;
  font-size: 2em;

}
.logo {
  display: flex;
  align-items: center;
}

.title {
  font-family: "Roboto", sans-serif;
  margin-bottom: 0.3em;
  margin-top: 0.3em;
}

.tomato {
  padding-left: 1vw;
  padding-right: 1vw;
  display: inline-block;
  pointer-events: none;
  margin-bottom: 0.3em;
  margin-top: 0.3em;
}

@media (prefers-reduced-motion: no-preference) {
  .tomato {
    animation: tomato-spin infinite 3s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes tomato-spin {
  to {
    transform: rotate(360deg);
  }
}

@keyframes twist-up {
  to {
    transform: rotateX(360deg);
  }
}

h2 {
  display: flex;
  justify-content: center;
  font-size: 0.9em;
}

.filtering-buttons {
  display: flex;
}

a {
  text-decoration: none;
  color: black;
}
